@import './variables.scss';
@import './mixins.scss';

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: 'Montserrat', sans-serif;
  //font-family: 'Lato Regular', sans-serif;
  font-display:swap;
  // font-family: 'Lato Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

a{
  text-decoration: none;
}

.app-wrapper{
  width:95%;
  max-width:1200px;
  margin:0 auto;
}

.section{
  position:relative;
  overflow-x:hidden;
}

.button{
  height:60px;
  width:320px;
  background:$red;
  @include flex();
  position:relative;
  cursor:pointer;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius:2px;
  text-decoration: none;
  transition:0.3s;

  span {
    position:relative;
    z-index:2;
  }
}

.button:after, .button:before{
  content:'';
  position:absolute;
  z-index:1;
  width:10px;
  height:10px;
  border-radius:50%;
  background: $red;
  top:25px;
  transition:0.3s;
}

.button:after{
  left:-30px;
}

.button:before{
  right:-30px;
}

.multiple-title{
  @include flex(center, space-between);
  margin-bottom:20px;
}

.multiple-title__text{
  font-weight: 600;
  font-size: 32px;
  color: $fontColor;
  margin-right:30px;
  order:1;
}

.multiple-title__line{
  background:$fontColor;
  height:1px;
  margin-right:30px;
  flex-grow:1;
  order:2;
}

.multiple-title img{
  order:3;
}

.with-ml-9{
  margin-left:90px;
}

.with-margin-auto{
  margin:0 auto;
}

.with-mr3{
  margin-right:30px;
}

.btn-disabled{
  opacity:0.5;
  pointer-events:none;
}

.light-hovered, .dark-hovered{
  transition:0.3s;
}
.dark-hovered{
  border-right:none;
}

@media (hover:hover){
  .button:hover:after{
    transform:translateX(-10px);
    background: $fontColor;
  }
  .button:hover:before{
    transform:translateX(10px);
    background: $fontColor;
  }
  .button:hover{
    background:$fontColor;
  }
  .light-hovered:hover{
    background:$red;
    border:1px solid $red;
  }
  .light-hovered:hover span{
    color:#fff;
  }
  .dark-hovered:hover{
    background:$red;
  }
}

@media screen and (max-width: 1100px){
  .multiple-title{
    flex-wrap:wrap;
  }
  .multiple-title__line{
    order:1;
  }
  .multiple-title img{
    order:2;
  }
  .multiple-title__text{
    order:3;
    width:100%;
    margin-top:20px;
    font-size: 26px;
  }
  .footer-bottom__first{
    width:100%;
    margin-bottom:20px;
  }
  .footer-bottom__second{
    width:100%;
  }
}

.slider-arrow-left, .slider-arrow-right{
  background:#fff;
  width:40px;
  height:40px;
  top:50%;
  transform:translateY(-50%);
  left:0;
  @include flex(center, center);
  cursor:pointer;
  position:absolute;
  z-index:20;
  top:50%;
  transform:translateY(-50%);
}

.slider-arrow-right{
  left:calc(100% - 40px)
}

@media screen and (max-width: 600px){
  .multiple-title__text{
    font-size: 18px;
  }
}

@media screen and (max-width: 500px){
  .button{
    width:100%!important;
  }
}
