@import './variables.scss';
@import './mixins.scss';

.contacts{
  padding-top:200px;
  overflow:hidden;
}

.contacts-main{
  @include flex(flex-end, flex-start);
  padding-bottom:760px;
  position:relative;
  z-index:1;
}

.contacts-title{
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: $fontColor;
  margin-bottom:27px;
}

.contacts-text{
  @include flex(center, flex-start);
  margin-bottom:21px;
}

.contacts-text-hovered{
  cursor:pointer;
}

.contacts-text span {
  margin-left:15px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: $fontColor;
  transition:0.3s;
}

.contacts-left{
  padding-left:26px;
  border-left:2px solid $fontColor;
  padding-right:120px;
}

.contacts-points1{
  position:absolute;
  left:0;
  top:70px;
  z-index:0;
}

.contacts-points2{
  position:absolute;
  top:300px;
  right:0;
  z-index:0;
}

.contacts-background-title{
  font-size: 162px;
  font-weight:300;
  letter-spacing: 0.03em;
  color: #FAFAFA;
  position:absolute;
  top:80px;
  right:20px;
  text-transform:uppercase;
  z-index:0;
}

.contacts-map{
  position:absolute;
  height:700px;
  width:calc(50vw + 600px);
  bottom:0;
  right:0;
}

.contacts .multiple-title{
  display:none;
}

.contacts-mess-title{
  margin-bottom:21px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: $fontColor;
  display:none;
}

@media (hover:hover){
  .contacts-text-hovered:hover span{
    color:$red;
  }
}

@media screen and (max-width: 1260px){
  .contacts-map{
    width:100%;
  }
  .contacts-background-title{
    font-size:100px;
  }
}

@media screen and (max-width: 700px){
  .contacts-title{
    width:100%;
  }
  .contacts-main{
    flex-direction:column;
  }
  .contacts-left{
    width:100%;
    padding:0;
    padding-left:20px;
  }
  .contacts-right{
    width:100%;
    margin-top:30px;
  }
  .contacts-background-title{
    display:none;
  }
  .contacts-map{
    height:400px;
  }
  .contacts-main{
    padding-bottom:420px;
  }
  .contacts-mess-title{
    display:block;
  }
}

@media screen and (max-width: 600px){
  .contacts{
    padding-top:0;
  }
  .contacts-points1{
    transform:rotate(90deg);
    left:calc(100% - 260px);
    top:400px;
  }
  .contacts-points2{
    transform:rotate(90deg);
    top:1000px;
    left:calc(100% - 260px);
  }
  .contacts .multiple-title{
    display:flex;
  }
  .contacts-left{
    padding-left:0;
    border-left:none;
  }
  .contacts-title{
    font-size:16px;
    margin-top:20px;
    margin-bottom:40px;
  }
  .contacts-text span{
    font-size:14px;
  }
}
