@import './variables.scss';
@import './mixins.scss';

.portfolio{
  background: #F8F8F8;
  padding:200px 0;
}

.portfolio-main{
  position:relative;
}

.portfolio-swiper-container{
  background: #FFFFFF;
  box-shadow: 2px 7px 25px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width:calc(100% - 190px);
}

.portfolio-swiper-slide{
  padding:60px 60px 100px 60px;
  @include flex(center, space-between)
}

.portfolio-slide__left{
  width:40%;
  height:100%;
}

.portfolio-slide__right{
  width:55%;
}

.portfolio-slide__left img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.portfolit-slide__title{
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: $fontColor;
  margin-bottom:5px;
}

.portfolit-slide__subtitle{
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #848484;
}

.portfolio-slide__main{
  padding:30px 0 40px 0;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  margin:25px 0;
}

.portfolit-slide__row, .portfolit-slide__price-row{
  margin-bottom:8px;
  @include flex(center, space-between);
}

.portfolit-slide__row span:first-child, .portfolit-slide__price-row span:first-child{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #939393;
}

.portfolit-slide__row span:last-child{
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: $fontColor;
}

.portfolio-price-span{
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #F05454;
}

.portcolio-slide__buttons{
  margin-top:28px;
  @include flex(center)
}

.portfolio-slide__button-gray{
  @include flex(center, center);
  width:35%;
  height:56px;
  background: $fontColor;
  box-shadow: 5px 2px 14px rgba(0, 0, 0, 0.15);
  border-radius: 2px 0 0 2px;
  cursor:pointer;

  span{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
  }
}

.portfolio-slide__button-light{
  @include flex(center, center);
  width:65%;
  height:56px;
  background: #fff;
  box-shadow: 5px 2px 14px rgba(0, 0, 0, 0.15);
  border-radius: 0 2px 2px 0;
  border:1px solid $fontColor;
  cursor:pointer;

  span{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $fontColor;
  }
}

.price-card__buttons{
  @include flex(center, flex-start);

}

.portfolio-swiper-pagination .swiper-pagination-bullet-active{
  background:$fontColor!important;
}

.portfolio-swiper-pagination .swiper-pagination-bullet{
  border-radius:0!important;
  margin:0 5px!important;
  width:15px!important;
  height:15px!important;
}

.portfolio-swiper-pagination{
  margin-bottom:10px;
  padding:10px 0!important;
}

.portfolio-swiper-arrow-left, .portfolio-swiper-arrow-right{
  background:#fff;
  width:60px;
  height:60px;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:0;
  @include flex(center, center);
  cursor:pointer;
  box-shadow: 2px 7px 50px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.portfolio-swiper-arrow-right{
  left:calc(100% - 60px);
}

@media screen and (max-width: 1100px){
  .portfolio-swiper-container{
    width:100%;
  }
}

@media screen and (max-width: 900px){
  .portfolio{
    padding:100px 0;
  }
  .portfolio-swiper-slide{
    padding:30px 30px 80px 30px;
  }
}

@media screen and (max-width: 800px){
  .portfolio-swiper-slide{
    flex-wrap:wrap;
  }
  .portfolio-slide__left{
    width:100%;
    margin-bottom:20px;
  }
  .portfolio-slide__right{
    width:100%;
  }
  .portfolio-slide__left img{
    height:280px;
  }
  .portfolio-swiper-arrow-left, .portfolio-swiper-arrow-right{
    top:165px;
    z-index:1;
    width:40px;
    height:40px;
  }
  .portfolio-swiper-arrow-right{
    left:calc(100% - 40px)
  }
}

@media screen and (max-width: 600px){
  .portfolio-swiper-slide{
    padding:10px 10px 70px 10px;
  }
  .stages-subtitle{
    margin-bottom:30px;
  }
  .portcolio-slide__buttons{
    flex-wrap:wrap;
  }
  .portfolio-slide__button-light, .portfolio-slide__button-gray{
    width:100%;
  }
  .portfolio{
    background:#fff;
    padding-top:0;
  }
  .portfolit-slide__title{
    font-size:16px;
  }
}
