@import './variables.scss';
@import './mixins.scss';

.price-preview{
  padding-top:250px;
  margin-bottom:200px;
}

.price-preview__main{
  position:relative;
  z-index:1;
  @include flex(center, space-between);
  padding-bottom:550px;
  width: 90%;
}

.price-preview__text{
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: $fontColor;
  padding-left:30px;
  border-left: 2px solid $fontColor;
}

.price-preview__percent{
  font-weight: 600;
  font-size: 72px;
  letter-spacing: 0.03em;
  color: #F05454;
  margin-bottom:10px;
}

.price-preview__percent-desc{
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #9E9E9E;
}

.price-preview__right{
  text-align:right;
}

.price-preview-background{
  position:absolute;
  z-index:0;
  right:calc(50vw - 540px);
  left:0;
  top:200px;
  bottom:0;
  background: radial-gradient(204.5% 392.68% at 0% 0%, #FFFFFF 0%, #E8E8E8 100%);
  border-radius: 2px;
}

.price-preview-points1{
  position:absolute;
  z-index:0;
  top:150px;
  left:0;
}

.price-preview-points2{
  position:absolute;
  z-index:0;
  top:420px;
  right:1%;
}

.price-preview-img{
  position:absolute;
  bottom:0;
  right:0;
  height:480px;
  width:calc(50vw + 600px);
  object-fit:cover;
}

@media screen and (max-width: 1250px){
  .price-preview{
    padding-top:150px;
  }
  .price-preview-img{
    width:97.5%;
  }
  .price-preview-background{
    top:100px;
  }
  .price-preview-points1{
    top:70px;
  }
}

@media screen and (max-width: 1050px){
  .price-preview__main{
    flex-wrap:wrap;
  }
  .price-preview__text{
    width:100%;
    margin-top:50px;
  }
  .price-preview__right{
    width:100%;
    margin-top:50px;
  }
  .price-preview-points2{
    display:none;
  }
}

@media screen and (max-width: 600px){
  .price-preview__text, .price-preview__percent-desc{
    font-size: 16px;
  }
  .price-preview__text br{
    display:none;
  }
  .price-preview-img{
    height:200px;
  }
  .price-preview__main{
    padding-bottom:250px;
  }
  .price-preview-points1{
    left:-220px;
  }
  .price-preview__text{
    border-left:none;
  }
  .price-preview__text:after{
    content:'';
    position:absolute;
    left:0;
    background:$fontColor;
    width:2px;
    height:calc(100% - 300px);
    top:50px;
  }
}
