@import './variables.scss';
@import './mixins.scss';

.stages{
  background: #F8F8F8;
  padding: 200px 0;
  overflow:hidden;
}

.stages-subtitle{
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: $fontColor;
  margin-top:20px;
  margin-bottom:80px;
  line-height:120%;
}

.stages-main{
  background: #FFFFFF;
  box-shadow: 2px 7px 25px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  position:relative;
}

.stages-tabs{
  @include flex();
  border-bottom:1px solid #E9DFDF;
  position:relative;
}

.stages-tabs__after{
  position:absolute;
  content:'';
  width:25%;
  height:4px;
  background:$red;
  bottom:0;
  left:0;
  transition:0.3s;
  transition-timing-function: ease-in-out;
}

.stages-tab{
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #14293F;
  width:25%;
  height:96px;
  @include flex(center, center);
  cursor:pointer;
  transition:0.3s;
  position:relative;
  text-align:center;
  transition:0.3s;
}

.stages-tab--active{
  color: $red;
}

.stages-content{
  padding:40px 60px 60px 60px;
}

.stages-swiper-container{
  height:200px;
}

.stages-description{
  margin-top:40px;
  @include flex(flex-start, space-between);
}

.stages-description__text{
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.03em;
  color: #222831;
  width:50%;
}

.stages-description__worktime-text{
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.03em;
  color: #848484;
  margin-bottom:10px;
}

.stages-description__worktime-time{
  font-weight: 600;
  font-size: 16px;
  line-height: 170%;
  text-align: right;
  letter-spacing: 0.03em;
  color: #222831;
}

.stages-swiper__arrow{
  background:red;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  background: rgba(0, 0, 0, 0.5);
  width:calc(11.7% - 13px);
  z-index:5;
  @include flex(center, center);
  cursor:pointer;
}
.stages-swiper-slide img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.stages-swiper__arrow:hover svg{
  transition:0.3s;
}

.stages-points{
  position:absolute;
  bottom:50px;
  right:calc(100% + 20px);
}

.stages-points2{
  position:absolute;
  top:-35px;
  right:-250px;
  display:none;
}

.stages-warning{
  position:absolute;
  top:-50px;
  right:0;
  display:none;
}

@media (hover:hover){
  .stages-swiper__arrow:hover svg {
    transform:translateX(5px);
  }
  .stages-tab:hover{
    color:$red;
  }
}

@media screen and (max-width: 1150px){
  .stages-content{
    padding:20px 30px 30px 30px;
  }
}

@media screen and (max-width: 1100px){
  .stages-description{
    flex-wrap:wrap;
  }
  .stages-description__text{
    width:100%;
    margin-bottom:14px;
    padding-bottom:25px;
    border-bottom:1px solid #222831;
  }
  .stages-description__worktime{
    width:100%;
  }
  .stages{
    padding-top:100px;
    padding-bottom:100px;
  }
  .stages-tab{
    font-size:16px;
  }
}

@media screen and (max-width: 800px){
  .stages-subtitle br{
    display:none;
  }
  .stages-subtitle{
    position:relative;
    padding-right:20%;
    font-size:16px;
    font-weight:500;
  }
  .stages-subtitle span{
    display:none;
  }
  .stages-warning{
    display:block;
  }
}

@media screen and (max-width: 600px){
  .stages-swiper__arrow{
    display:none;
  }
  .stages-tab{
    font-size:14px;
  }
  .stages-content{
    padding:20px 10px 50px 10px;
  }
  .stages-tab{
    height:60px;
  }
  .stages-points2{
    display:block;
  }
  .stages-points{
    bottom:-135px;
    right:50px;
  }
  .stages-description__worktime-points{
    display:none;
  }
  .stages-description__worktime-text{
    justify-content:space-between;
    @include flex(flex-start, space-between);
    font-size:14px;
  }
  .stages-description__text{
    font-size:14px;
  }
  .stages-description__worktime-time{
    font-size:14px;
    min-width:140px;
  }
  .footer-bottom-text{
    line-height: 150%;
  }
}
